div {
  position: absolute;
  width: 600px;
  height: 800px;
  z-index: 15;
  top: 15%;
  left: 50%;
  margin: -100px 0 0 -300;
  background: white;
}
img { 
	display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%; 
	
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	text-decoration: none;
}
a {
	font-size: 2000%
}


a:link {
	font-size: 20%;
    text-decoration: none;
	padding: 20px -5px;
    word-wrap: normal;
	font-family: Times, sans-serif;
   
}
a:link {
	font-size:150%;
}
a:hover {
    text-decoration: none;
}
a:hover {
     color:#ff0000; 
     cursor: pointer; 
}
a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
	
}
a:active {
    text-decoration: none;
	
}
a:active {
    font-size: 100%;
	
}

a:link {
	font-weight: normal;
	color: #000000;
    font-size: 30px;
}